@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

:root {
    --background: #07060C;
    --button-primary: #FF09EE;
    --button-primary-hover: #00F4FC;
    --text: #F8F6F9;
    --accent: #F5EB03;
    --error: #FF1744;

    --font: "Kode Mono", monospace;
}

@theme {
    --color-background: var(--background);
    --color-button-primary: var(--button-primary);
    --color-button-primary-hover: var(--button-primary-hover);
    --color-text: var(--text);
    --color-accent: var(--accent);
    --color-error: var(--error);

    --font-font: var(--font);

    --animate-rotate: rotate 2s infinite;

    @keyframes rotate {
        0% {
            transform: rotate(-360deg) scale(10)
        }
        100% {
            transform: rotate(0deg) scale(10)
        }
    }

    --animate-neon-gradient: neon-gradient 4s infinite;

    @keyframes neon-gradient {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
}

body {
    background-color: var(--background);
    font-family: var(--font), monospace;
    font-optical-sizing: auto;
}

a, button, input {
    outline: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    cursor: pointer;
}

.animated-gradient {
    background: linear-gradient(180deg, var(--button-primary), var(--button-primary-hover));
    background-size: 200% 200%;
}

.leaflet-popup {
    padding: 0 !important;
    margin: 0 !important;
    width: max-content;
}

.leaflet-container {
    background-color: rgba(255, 0, 0, 0.0);
}

.leaflet-popup-content {
    width: auto !important;
}

.leaflet-popup-content-wrapper {
    background: transparent;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.leaflet-popup-tip {
    background: var(--background);
    opacity: 0.9;
}

.leaflet-popup-close-button {
    color: var(--text) !important;
    transition: color .2s;

    &:hover {
        color: var(--accent) !important;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #FFFFFF;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #FFFFFF;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
